body
{
    color:#333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: blue;
    color: white;
    margin: 0;
    padding: 0.5cm;

}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid#DDD;
    margin: auto;
}

#container h1
{
    font-size: 20px;
}